header{
	background-color: black;
	padding: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://images.pexels.com/photos/10782398/pexels-photo-10782398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
}
a{
	color: white;
}
a:hover{
	background-color: gray;
}
#welcome, .welcome2{
	text-align: center;
	margin: 150px;
	font-size: 30px;
}
body{
	background-color: gray;
	color: white;
	padding: 0;
	margin: 0;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav li{
	display:inline-block;
	margin-right: 20px;
	font-size: 17px;
}
main{
	padding: 20px;
}
img{
	vertical-align: middle;
	border-radius: 50%;
	width: 15%;
	height: 15%;
}
.profile{
	text-align: center;
}
footer{
	background-color: black;
	padding: 10px 20px;
	margin-top: 10px;
}
